/* header color: #2E2F42 */
/* Primary text color: #434455 */
/* accent #434455 */
/* header and footer background color #434455 */
/* section background color #F4F4FD */


*,
::after,
::before{
    box-sizing:border-box;
}

:root {
    --primary-text-color:#434455;
    --title-text-color:#2E2F42;
    --primary-white-color:#ffffff;
    --accent-color:#4D5AE5;
    --light-color:#F4F4FD;
    --an-accent-color:#404BBF;
}

body {
    margin:0;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

p, h2 {
    margin-top:0;
    margin-bottom:0;
}

img{
    display:block;
    width:100%;
    height:auto;
}

.list{
    margin:0;
    padding:0;
    list-style:none;
}


/* logo */

.logo {
    color: var(--title-text-color);
    text-transform:uppercase;
    font-family:'Raleway', sans-serif;
    text-decoration:none;
}
.logo-web {
    color:var(--accent-color);
}

/* navigation links */

header {
    box-shadow: var(--card-shadow);
}

.list-header-page {
    display:flex;
    margin-left:77px;
}

.container {
    width:1152px;
    padding-left:12px;
    padding-right:12px;
    margin:0 auto;
}

.section {
    padding-top:120px;
    padding-bottom:120px;
}

.container-nav {
    display:flex;
    align-items:center;
}

.nav-items {
    display:flex;
    align-items:center;
}

.header-container{
    border-bottom:0.5px solid var(--light-color);
}

.list-header-page .link {
    display:block;
    padding-top:24px;
    padding-bottom:24px;

    text-decoration:none;
    color:var(--title-text-color);

    font-weight:500;
}

.list-header-page .item:not(:last-child) {
    margin-right:40px;
}

.list-header-page .link:hover,
.list-header-page .link:focus,
.list-header-page .link:active {
    color:var(--accent-color);
}


/* list */


.list-mail-tel  {
    display:flex;
    align-items:center;
    margin-left:auto;
}

.list-mail-tel .link {
    text-decoration:none;
    color:var(--title-text-color);
    padding-top:24px;
    padding-bottom:24px;
}

.list-mail-tel .link:hover,
.list-mail-tel .link:focus,
.list-mail-tel .link:active {
    color:var(--accent-color);
}

.list-mail-tel .item:not(:last-child){
    margin-right:40px;
}


.main-section {
    padding-top:192px;
    padding-bottom:192px;
    text-align:center;
    background-color:var(--title-text-color);
}

.bg-hero {
    max-width:1440px;
    height:600px;
    margin-left:auto;
    margin-right:auto;
    background-image:linear-gradient(
    rgba(46, 47, 66, 0.5),
    rgba(46, 47, 66, 0.5)
    ),
    url(../imаges/people-office\ 1.jpg);
    background-color:var(--title-text-color);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    
}

.title {
    margin:0 auto;
    margin-top:0;
    margin-bottom:50px;
    width:492px;

    color: var(--primary-white-color);

    font-size:56px;
    font-weight:500;
    line-height: 1.07;
}

.main-btn {
   padding:16px 32px;
    border-radius: 4px;
    text-align:center;
    min-width:170px;

    background-color:var(--accent-color);
    border:none;
    cursor: pointer;
    font-family: inherit;
    color:var(--primary-white-color);

    font-weight:500; 
    font-size: 16px;
    line-height: 1.2;

}

.main-btn:hover {
    background-color:var(--an-accent-color)
}

.main-btn:active {
    background-color:var(--accent-color)
}

/* unique page */

.section-title{
    margin-top:0;
    margin-bottom:70px;
    color:var(--title-text-color);
    text-align:center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
}

.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.main-list {
    display:flex;
    padding-top: 120px;
    padding-bottom: 120px;
}

.main-list .main-item:not(:last-child) {
    margin-right:24px;
}

.adv-icons{
    display:flex;
    height:112px;
    border-radius:4px;
    background-color: var(--light-color);
    margin-bottom:8px;

    justify-content: center;
    align-items: center;

}

.adv-icon{
    width: 64px;
    height: 64px;
}

.main-item {
    width: 264px;
    height: 112px;
    background-image:url(../imаges/fon.jpg);
}

.main-list .item:nth-child(1)::before{
    background-image:url(../imаges/antenna\ 1\ .svg);
    background-size: 64px;
}

.main-list .item:nth-child(2)::before{
    background-image:url(../imаges/clock\ 1.svg);
    background-size: 64px;
}

.main-list .item:nth-child(3)::before{
    background-image:url(../imаges/diagram\ 1.svg);
    background-size: 64px;
}

.main-list .item:nth-child(4)::before{
    background-image:url(../imаges/astronaut\ 1.svg);
    background-size: 64px;
}

.main-title {
    margin-top:0;
    margin-bottom:8px;
}

.section-photo {
    padding-top:120px;
    padding-bottom:120px;
}

.gadjet-list {
    display:flex;
    justify-content:center;
}

.gadjet-list .item:not(:last-child) {
    margin-right:24px;
}
/* Team info */

.main-team {
    background-color:var(--light-color);
}

.title-name {
    margin:0;
    margin-bottom:8px;
    color:var(--title-text-color);

    font-weight:500;
}

.team-list .item {
    background-color:var(--primary-white-color);
}

.team-name-container{
    padding-top:32px;
    padding-bottom:32px;
}
.team-list{
    display:flex;
}
.team-list .item{
    text-align:center;
 }
 .team-list .item:not(:last-child){
     margin-right:24px;
 }

 .social-list{
    display:flex;
    
}
.team-social-net{
    display:flex;
    justify-content:center;
    gap:24px;
    padding-top:8px;
    padding-bottom:32px;
}
.soc-item{
    width: 40px;
    height: 40px;
}

.team-social{
    display:flex;
    width: 100%;
    height: 100%;
    border-radius:50%;
    background-color:var(--accent-color);
    justify-content:center;
    align-items: center;
}

.team-social:hover{
    background-color: var(--an-accent-color);
}
.social-icon{
    width: 16px;
    height: 16px;
}

/* Customers */

.customers-content{
    display:flex;
    gap:24px;
}

.customers-banner{
    display:flex;
    width: calc((100%-125px) / 6);
    height: 88px;
    justify-content: center;
    align-items: center;
    background-image: url(../imаges/fon2.jpg);
}
    
.customers-link{
    display:flex;
    width: 100%;
    height: 100%;
    border:1px  solid var(--light-slate) ;
    border-radius:4px;

    align-items:center;
    justify-content: center;
}


.customers-logo{
    width: 104px;
    height: 56px;
}

.customers-logo{
    fill:#8E8F99;
}
.customers-link:hover{
    border-color: var(--an-accent-color);
}

.customers-link:hover .customers-logo{
    fill:var(--an-accent-color)
}

/* footer */

.footer-page {
        padding-top:100px;
        padding-bottom:100px;
        background-color:var(--title-text-color);
}

.fot-text {
    width:265px;
}

.footer-text-page {
    color:var(--primary-white-color);
}


.name-logo {
    display:inline-block;
    margin-bottom:16px;
    color:var(--primary-white-color);
    text-transform:uppercase;
    font-family:'Raleway', sans-serif;
    text-decoration:none;
}

.footer-logo-page {
    color:var(--accent-color)
}

/* Portfolio */
.portfolio-links {
    display:flex;
    justify-content:center;

    margin-bottom:72px;
    padding:0;
}

.portfolio-links .item:not(:last-child){
    margin-right:24px;
}

.section-btn {
    padding-top: 72px;
    padding-bottom: 72px;
}

.portfolio-buttons{
    border-radius:4px;
    height:48px;
    padding:12px 24px;
    color:var(--accent-color);
    background-color:var(--light-color);
    border:none;
    font-family:inherit;
    border: 1px solid #E7E9FC;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.portfolio-buttons:hover,
.portfolio-buttons:focus {
    color:var(--primary-white-color);
    background-color:var(--accent-color);
    cursor: pointer;
    border:1px solid var(--accent-color);
}

.list-img {
    display:flex;
    flex-wrap:wrap;
    gap: 48px 24px;
}

.list-img .hero-title {
    font-size:20px;
    line-height:1.2;
}

.list-img .item-text {
    padding-top:32px;
    padding-bottom:32px;
    padding-left:16px;
    border-left:0.5px solid var(--light-color);
    border-right:0.5px solid var(--light-color);
    border-bottom:0.5px solid var(--light-color);
}

.list-img .hero-title {
    margin-bottom:8px;
}

.list-img .item:nth-child(3n){
    margin-right:0;
}

.list-img .item:nth-last-child(-n + 3){
    margin-bottom:0;
}